<head>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="icon.png">
  <title> Serena vs Tanisa </title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
              <script src="script.js"></script>

  </head>
<body ng-app="Contest" ng-controller="ContestController">
  <div class="row">
    <h1> Serena vs Tanisa </h1>
    <h3> A contest hosted by Mohit Patel </h3>
    </div>
    <div class="row">
      <input  ng-if="!username" type="text" id="username" placeholder="Input username here">
      <div ng-if="username"><p>Welcome {{username}}!</p>
        <button  ng-if="!trial" ng-click="usernameChange()" class="transition-button" id="username-change">Not You?</button>
        </div>
    </div>
    <div ng-if="!trial" class="row">
      <button ng-click="switch()" class="transition-button" id="enter"> Click Here to Enter </button>
      </div>
  <div  ng-if="trial" class="row" style="padding-top:35px">
    <div class="column">
      <button ng-class="{chosen:chosen=='serena'}"ng-click="serena($event)"id="serena" class="transition-button">

<span class="oldtext"> Serena</span><span class="newtext" ng-model="sere"> {{sere}}</span>
<div class="row" id="clicker">
<a id="ser-f"ng-click="backward($event)"class="prev">&#10094;</a>
<a id="ser-b"ng-click="forward($event)"class="next">&#10095;</a> </div></button>

      </div>
      <div class="column">
        <button ng-class="{chosen:chosen=='tanisa'}"ng-click="tanisa($event)" id="tanisa" class="transition-button"> <span class="oldtext"> Tanisa</span><span class="newtext" ng-model="tan"> {{tan}}</span>
          <div class="row" id="clicker">
          <a id="tan-f"ng-click="backward($event)"class="prev">&#10094;</a>
          <a id="tan-b"ng-click="forward($event)"class="next">&#10095;</a> </div> </button>
        </div>
        <div class="modal" id="confirm">
          <span> Thank You for Recording Your Response.<br> Have a Great Day! </span>
          </div>

  </body>
