body{
  font-family:"Courier New", Courier, monospace;
  background-color: #7fffd4;
}
span{
  font-family:"Comic Sans MS", cursive, sans-serif;
}
.column{
      float:left;
      width:50%;
  }

.row{
  width:100%;
  text-align: center;
}
.transition :focus{
  outline:none;
}
  .transition-button {
     border: none;
     background: #404040;
     color: #ffffff;
     font-weight: 100;
     padding: 20px;
     border-radius: 6px;
     display: inline-block;
     text-decoration:none;
     height:340px;
     width:340px;
     position: relative;
 }

 #username-change{
  background-color:#ff7f50;
  margin-bottom:10px;
  height:auto;
  width:auto;
 }

 #enter{
   background-color:#ff7f50;
   height:auto;
   width:auto;
 }
 .modal{
   display:none;
   z-index: 1;
   padding-top:100px;
 }
 .transition-button:hover {
       text-decoration:none;
       color:white;
   }
   .oldtext,
    .newtext {
        display: block;
        overflow: hidden;
        transition: all .5s ease-in;
        text-align:center;

    }
       .oldtext{
           height:auto;
           opacity:1;
           width:auto;
           font-size:52px;
       }
       .newtext{
           height:0;
           opacity:0;
           width:0;
           font-size:80px;
       }
       .transition-button:hover .oldtext{
           height:0;
           opacity:0;
           width:0;
       }
       .transition-button:hover .newtext{
           height:auto;
           opacity:1;
           width:auto;
       }
 #serena{
   background-size: cover;
   background-image: url("ser1.jpg");
   float:right;
   margin-right:50px;
 }
 #tanisa{
   float:left;
   margin-left:50px;
   background-size: cover;
background-image: url("tan1.jpg");
}

#sonam{
  background-size: cover;
  background-image: url("son1.jpg");
  margin-top:5%;
  margin-left:80%;
}
.prev, .next{
  margin-left:20px;
  margin-right:20px;
  z-index: 5;
}
#clicker{
  position: absolute;
  bottom: 5%;
  left:0%;
  font-size: 24px;
  cursor: pointer;

}
.chosen{
  border-color: #ff7f50;
  border-style:inset;
  border-width: 10px;
}
